<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="uf-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/genero.css' %}" rel="stylesheet" type="text/css">


</head>
<body>
{% include "../menu.html" %}
<main>
    <div class="conteiner-center">
        <span>
            {% if genero_records %}
        <table>
            <thead>
            <tr>
                <th>Genero</th>
                <th>Clique para alterar</th>
                <th>Clique para excluir</th>
            </tr>
            </thead>

            <tbody>
            {% for genero in genero_records %}
            <tr>
                <td>{{genero.descricao}}</td>
                <td>Alterar</td>
                <td>Excluir</td>

            </tr>
           {% endfor %}
            </tbody>
        </table>
            {% else %}
               <p>Nenhum dado cadastrado</p>
            {% endif %}
        </span>
    </div>

    <div class="conteiner-center">
        <form onsubmit="/genero" method="post">

                {{form}}
                {% csrf_token %}
                <!--<input type="text" id=genero class="input-padrao" required>-->


                <input type="submit" value="Enviar" class="enviar-button">


        </form>
    </div>


</main>


</body>

</html>