<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="uf-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/genero.css' %}" rel="stylesheet" type="text/css">


</head>
<body>
{% include "../menu.html" %}
<main>
    <div class="conteiner-center">
        <span>
            {% if genero_records %}
        <table>
            <thead>
            <tr>
                <th>Genero</th>
                <th>Clique para alterar</th>
                <th>Clique para excluir</th>
            </tr>
            </thead>

            <tbody>
            {% for genero in genero_records %}
            <tr>
                <td>{{genero.descricao}}</td>
                <td><button class="list-button editar-button" onclick="updateItem({{genero.id}})">Alterar</button></td>
                <td><button class="list-button apagar-button" onclick="deleteItem({{genero.id}})">Excluir</button></td>


            </tr>
           {% endfor %}
            </tbody>
        </table>
            {% else %}
               <p>Nenhum dado cadastrado</p>
            {% endif %}
        </span>
    </div>

    <div class="conteiner-center">
        <form onsubmit="/genero" id="form-genero" method="post">

            {{form}}
            {% csrf_token %}
            <!--<input type="text" id=genero class="input-padrao" required>-->


            <input type="submit" id="submit-button" value="Enviar" class="enviar-button">


        </form>
    </div>


</main>

<script>
    function deleteItem(id) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
        "/genero/delete/"+id,
        {headers: {'X-CSRFToken': csrftoken}}
        );
        fetch(request, {
            method: 'DELETE',
            mode: 'same-origin'
        }).then(function(response) {
            location.replace("/genero")
           //alert("Informação apagada com sucesso");
        });
    }

    function updateItem(id) {
        location.replace("/genero/update/"+id)
    }
</script>

</body>
</html>