<!DOCTYPE html>
<html>
    <head>
        <meta charset="uf-8">
        <title>Teste tabela</table></title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="teste_tabela.css">
    </head>
    <body>
                
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Genero</th>
                        <th>Clique para alterar</th>
                        <th>Clique para excluir</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Aventura</td>
                        <td>Alterar</td>
                        <td>Excluir</td>

                    </tr>
                    <tr>
                        <td>Comedia</td>
                        <td>Alterar</td>
                        <td>Excluir</td>
                    </tr>
                    <tr>
                        <td>Drama</td>
                        <td>Alterar</td>
                        <td>Excluir</td>
                    </tr>
                </tbody>
            </table>

            <form>
                <label> Cadastre um Genero: </label>
                <div>
                    <input type="text" id= genero class= "input-padrao" required>
                    <input type= "submit" value="Enviar" class="enviar">  
                </div>        
            </form>


        </main>

       

    </body>

</html>