{% load static %}
<!DOCTYPE html>
<html lang= "pt-br">
    <head>
        <meta charset="UF-8">
        <title>IGTIFlix </title>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'reset.css' %}" rel="stylesheet" type="text/css">

    </head>

    <body>
        <header>
            <nav>
                <ul> 
                    <li><a href= "../../../temp/IGTIFLIX/login.html">Login</a> </li>
                    <li><a href= "../../../temp/IGTIFLIX/generos.html">Gêneros</a> </li>
                    <li><a href= "../../../temp/IGTIFLIX/series.html">Séries</a></li>
                </ul>         
            </nav>
        </header>        
              

        <main class= "titulo"> 
            <h1>IGTIFlix</h1>
               
        </main>      
    </body>
</html>    