<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="uf-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/genero.css' %}" rel="stylesheet" type="text/css">


</head>
<body>
{% include "../menu.html" %}
<main>
    <div class="conteiner-center">
        <form onsubmit="/serie" id="form-serie" method="post">

            {{form}}
            {% csrf_token %}
            <input type="submit" id="submit-button" value="Enviar" class="enviar-button">


        </form>
    </div>


</main>

<script>


    function updateItem(id) {
        window.history.go("/serie/update/"+id)
    }
</script>

</body>
</html>